h6 {
    color:burlywood;
    font-size: 15px; 
    font-family: 'Times New Roman', Times, serif;
}

h4{
    color: yellowgreen;
    font-size: 20px;
    font-family: serif;
}

h1{ color:brown;
    font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;}
